html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f7f8f8;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.app {
  font-family: "Inter";
  margin: 0rem;
}

.header {
  font-size: 0.95rem;
  background-color: #ffffff;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 80px;
}

.nav-items li:hover {
  cursor: pointer;
  color: green;
}

.restro {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.nav-items ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
  color: black;
  font-size: 1.1rem;
}

.logo {
  height: 4rem;
  width: auto;
}

.desc {
  margin: 1rem;
}

.restro-container {
  width: 15rem;
  margin: 0.5rem 2rem;
  img {
    width: 60%;
    height: 60%;
  }
}

.search {
  margin: 1rem 1rem;
}
